
      body{
        color: #cbcbb3;
      }
.topheading{
  text-align: center;
}
h1{
  color: black;
  font-family: corbel;
}
h2{
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}
.heading{
  font-size: 33px;
  color: #8c8c8c;
  font-family: corbel light;
}
.builder{
  border: 1px solid white;
  border-radius: 8px;
  box-shadow: 2px 2px 4px 4px rgb(180, 177, 177);
  width: 320px;
  height: 200px;
  padding: 20px;
  border-top: 5px solid red;
  position: relative;
  left: 600px;
  top: 20px;
  }
  .builder:hover
  {
box-shadow: 2px 4px 4px 2px;
  } 
  
.supervisor{
  border: 1px solid white;
  border-radius: 8px;
  box-shadow: 2px 2px 4px 4px rgb(180, 177, 177);
  width: 320px;
  height: 200px;
  padding: 20px;
  border-top: 5px solid rgb(10, 142, 151);
  position: relative;
  left: 200px;
  bottom: 30px;
  }
  .supervisor:hover
  {
box-shadow: 2px 4px 4px 2px;
  } 
  
.karma{
  border: 1px solid white;
  border-radius: 8px;
  box-shadow: 2px 2px 4px 4px rgb(180, 177, 177);
  width: 320px;
  height: 200px;
  padding: 20px;
  border-top: 5px solid rgb(44, 12, 160);
  position: relative;
  left: 600px;
  bottom: 150px;
  
  }
  .karma:hover
  {
box-shadow: 2px 4px 4px 2px;
  } 
.calculator{
  border: 1px solid white;
  border-radius: 8px;
  box-shadow: 2px 2px 4px 4px rgb(180, 177, 177);
  width: 320px;
  height: 200px;
  padding: 20px;
  border-top: 5px solid rgb(226, 230, 22);
  position: relative;
  left: 1000px;
  bottom: 520px;
  }
  .calculator:hover
  {
box-shadow: 2px 4px 4px 2px;
  } 
   .image{
  position: absolute;
  bottom: 10px;
  right: 10px;
  }